dnspython
maxminddb
numpy==1.17.2
scikit-learn==0.21.3
langid==1.1.6
bs4==0.0.1
lxml==4.6.5
requests==2.22.0
# when this branch is merged into upstream and released
-e git://github.com/aau-network-security/pywhois.git@release-for-richkit#egg=python-whois
# replace the line with:
# python-whois
